<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="Doc">
            <ComponentRef Id="phast2_TM6_A35.pdf" />
            <ComponentRef Id="phreeqc2.pdf" />
            <ComponentRef Id="phreeqc3.pdf" />
            <ComponentRef Id="phreeqc.RELEASE.txt" />
            <ComponentRef Id="RELEASE.txt" />
            <ComponentRef Id="wrir02_4172.pdf" />
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Directory Id="doc" Name="doc">
                <Component Id="phast2_TM6_A35.pdf" Guid="*">
                    <File Id="phast2_TM6_A35.pdf" KeyPath="yes" Source="..\doc\phast2-TM6-A35.pdf" />
                </Component>
                <Component Id="phreeqc2.pdf" Guid="*">
                    <File Id="phreeqc2.pdf" KeyPath="yes" Source="..\doc\phreeqc2.pdf" Name="phreeqc2.pdf" />
                </Component>
                <Component Id="phreeqc3.pdf" Guid="*">
                    <File Id="phreeqc3.pdf" KeyPath="yes" Source="..\doc\phreeqc3.pdf" Name="phreeqc3.pdf" />
                </Component>
                <Component Id="phreeqc.RELEASE.txt" Guid="*">
                    <File Id="phreeqc.RELEASE.txt" KeyPath="yes" Source="..\doc\phreeqc3-doc\RELEASE.TXT" Name="phreeqc.RELEASE.txt" />
                </Component>
                <Component Id="RELEASE.txt" Guid="*">
                    <File Id="RELEASE.txt" KeyPath="yes" Source="..\RELEASE" Name="RELEASE.txt" />
                </Component>
                <Component Id="wrir02_4172.pdf" Guid="*">
                    <File Id="wrir02_4172.pdf" KeyPath="yes" Source="..\doc\wrir02-4172.pdf" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
</Wix>