<?xml version="1.0" encoding="UTF-8"?>

<!-- Note Major Minor and Build are set on the command line -->
<!-- ie MSBuild.exe msi.sln /p:Major=2 /p:Minor=1 /p:Patch=0 /p:Build=1111 -->

<!-- format must be major.minor.build -->
<!-- major and minor have a maximum value of 255 -->
<!-- build has a maximum value of 65535 -->

<?define Version=$(var.Major).$(var.Minor).$(var.Build)?>
<?define FolderName="phast-$(var.Major).$(var.Minor).$(var.Build)"?>
<?define Manufacturer="U.S. Geological Survey"?>
<?define Merge64Dir="C:\Program Files (x86)\Common Files\Merge Modules"?>

<?if $(sys.BUILDARCH)=x64 ?>
  <?define FullName="phast x64 $(var.Version)"?>
  <?define UpgradeGuid="{609C09FB-044A-4c0a-8D28-D427F7B8F0A3}"?>
<?else?>
  <?define FullName="phast $(var.Version)"?>
  <?define UpgradeGuid="{CD205EE5-559D-4c25-8CB7-77E8879C2259}"?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*"
           Name="$(var.FullName)"
           Language="1033"
           Version="$(var.Version)"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="$(var.UpgradeGuid)">
		<Package InstallerVersion="405" Compressed="yes" />

		<Media Id="1" Cabinet="media.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- program files -->
    <?if $(sys.BUILDARCH)=x64 ?>
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="APPLICATIONFOLDER" />
      </Directory>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="USGS" Name="USGS">
          <Directory Id="PHASTX86" Name="$(var.FolderName)">
            <Directory Id="APPLICATIONFOLDERX86" />
          </Directory>
        </Directory>
      </Directory>
    <?else?>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONFOLDER" />
      </Directory>
    <?endif?>
      <!-- start menu -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Phast $(var.Major).$(var.Minor).$(var.Build)">
          <!--
          <Directory Id="MV.ApplicationProgramsFolder" Name="Model Viewer 1.3"/>
          -->
        </Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id="TARGETDIR">
      <?if $(sys.BUILDARCH)=x64 ?>
      <Merge Id='VC110_CRT_x64' Language='0' SourceFile='$(env.DEV_MERGE_DIR)\Microsoft_VC110_CRT_x64.msm' DiskId='1' />
      <Merge Id='VC110_OpenMP_x64' Language='0' SourceFile='$(env.DEV_MERGE_DIR)\Microsoft_VC110_OpenMP_x64.msm' DiskId='1' />
      <Merge Id='w_fcompxe_redist_intel64_2013_sp1.1.139' Language="1033" SourceFile='$(env.IFORT_COMPILER14)\redist\intel64\compiler\w_fcompxe_redist_intel64_2013_sp1.1.139.msm' DiskId='1' />
      <?endif?>
    </DirectoryRef>

    <Feature Id="ProgramFiles" Title="Program Files" Description="This component contains the program executables, files required during execution, and minimal informal documentation." AllowAdvertise="no" Level="1" Display="expand">
      <ComponentGroupRef Id="Bin" />
      <MergeRef Id="VC110_CRT_x64" />
      <MergeRef Id="VC110_OpenMP_x64" />
      <MergeRef Id="w_fcompxe_redist_intel64_2013_sp1.1.139" />
      <ComponentGroupRef Id="Database" />
      <ComponentGroupRef Id="Environ" />
      <ComponentGroupRef Id="Lib" />
      <ComponentGroupRef Id="Readme" />
      <ComponentRef Id="ProgramShortcuts"/>
      <Feature Id="Documentation" Title="Documentation" Description="This component contains brief, summary documentation as well as the full, formal program documentation." AllowAdvertise="no" Level="1">
        <ComponentGroupRef Id="Doc" />
        <ComponentRef Id="DocShortcuts"/>
      </Feature>
      <!--
      <Feature Id="Source" Title="Source Code" Description="This component contains the programs source code." AllowAdvertise="no" Level="1">
        <ComponentGroupRef Id="Src" />
      </Feature>
      -->
      <Feature Id="Examples" Title="Examples" Description="This component contains sample input files." AllowAdvertise="no" Level="1">
        <ComponentGroupRef Id="Examples" />
      </Feature>
      <!--
      <Feature Id="MV" Title="Model Viewer" Description="Model Viewer is a computer program that displays the results of three-dimensional ground-water models.  The included version contains support to view Hierarchical Data Format (HDF5) files created by PHAST." AllowAdvertise="no" Level="1">
        <ComponentGroupRef Id="MV" />
        <ComponentRef Id="MVShortcuts" />
      </Feature>
      -->
    </Feature>

    <!-- gui -->
    <UIRef Id="WixUI_Advanced"/>
    <Property Id="ApplicationFolderName" Value="$(var.FolderName)" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
    <Property Id="ALLUSERS" Value="1" />

    <!-- override default install location -->
  <?if $(sys.BUILDARCH)=x64 ?>
    <CustomAction Id="WixSetDefaultPerMachineFolderOverride" Property="WixPerMachineFolder" Value="[ProgramFiles64Folder]USGS\[ApplicationFolderName]" Execute="immediate" />
  <?else?>
    <CustomAction Id="WixSetDefaultPerMachineFolderOverride" Property="WixPerMachineFolder" Value="[ProgramFilesFolder]USGS\[ApplicationFolderName]" Execute="immediate" />
  <?endif?>
    <InstallExecuteSequence>
      <Custom Action="WixSetDefaultPerMachineFolderOverride" After="WixSetDefaultPerMachineFolder" />
    </InstallExecuteSequence>
    <InstallUISequence>
      <Custom Action="WixSetDefaultPerMachineFolderOverride" After="WixSetDefaultPerMachineFolder" />
    </InstallUISequence>

    <!--
    Disallow per-user installs
    -->
    <WixVariable Id="WixUISupportPerUser" Value="0" Overridable="no" />

    <!--
    This overrides the default License agreement
    -->
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

  </Product>
</Wix>
