<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="Readme">
            <ComponentRef Id="README.txt" />
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Component Id="README.txt" Guid="*">
                <File Id="README.txt" KeyPath="yes" Source="..\doc\README" Name="README.txt" />
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>