<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ProgramShortcuts" Guid="*">
        <Shortcut Id="PHASTHDF.lnk"
                  Name="PHASTHDF Export"
                  Target="[bin]phasthdf.exe"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\USGS\Phast" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        <Shortcut Id="phreeqc.revisions.lnk"
                  Name="phreeqc.revisions"
                  Target="[doc]phreeqc.revisions.txt"/>
        <Shortcut Id="README.lnk"
                  Name="README"
                  Target="[APPLICATIONFOLDER]README.txt"/>
        <Shortcut Id="RELEASE.lnk"
                  Name="RELEASE"
                  Target="[doc]RELEASE.txt"/>
      </Component>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="DocShortcuts" Guid="*">
        <RegistryValue Root="HKCU" Key="Software\USGS\Phast" Name="docs" Type="integer" Value="1" KeyPath="yes"/>
        <Shortcut Id="phast.pdf.lnk"
                  Name="User's Guide to PHAST (PDF)"
                  Target="[doc]phast.pdf"/>
        <Shortcut Id="phreeqc.pdf.lnk"
                  Name="User's Guide to PHREEQC (Version 2 PDF)"
                  Target="[doc]phreeqc.pdf"/>
        <Shortcut Id="wrir02_4172.pdf.lnk"
                  Name="WRIR 02-4172 (PDF)"
                  Target="[doc]wrir02-4172.pdf"/>
      </Component>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="MV.ApplicationProgramsFolder">
      <Component Id="MVShortcuts" Guid="*">
        <Shortcut Id="modview.exe.lnk"
                  Name="Model Viewer"
                  Target="[MV.bin]modview.exe"/>
        <Shortcut Id="notice.txt.lnk"
                  Name="Notice"
                  Target="[Model_Viewer_1.3]notice.txt"/>
        <Shortcut Id="modview.chm.lnk"
                  Name="Online Help"
                  Target="[MV.bin]modview.chm"/>
        <Shortcut Id="ofr02_106.pdf.lnk"
                  Name="User's Guide"
                  Target="[MV.doc]ofr02-106.pdf"/>
        <RegistryValue Root="HKCU" Key="Software\USGS\Phast" Name="MV" Type="integer" Value="1" KeyPath="yes"/>
        <RemoveFolder Id="MV.ApplicationProgramsFolder" On="uninstall"/>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>