<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="Bin">
            <ComponentRef Id="hdf5dll.dll" />
            <ComponentRef Id="phast_mpich2.exe" />
            <ComponentRef Id="phast_ser.exe" />
            <ComponentRef Id="phast.bat" />
            <ComponentRef Id="phasthdf.exe" />
            <ComponentRef Id="phastinput.exe" />
            <ComponentRef Id="szlibdll.dll" />
            <ComponentRef Id="zlib1.dll" />
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Directory Id="bin" Name="bin" >
                <Component Id="hdf5dll.dll" Guid="*">
                    <File Id="hdf5dll.dll" KeyPath="yes" Source="$(env.DEV_HDF5_X64_LIBDLL)\hdf5dll.dll" />
                </Component>
                <Component Id="phast_mpich2.exe" Guid="*">
                    <File Id="phast_mpich2.exe" KeyPath="yes" Source="..\src\phast\win32_2005\x64\merge\phast.exe" Name="phast-mpich2.exe" />
                </Component>
                <Component Id="phast_ser.exe" Guid="*">
                    <File Id="phast_ser.exe" KeyPath="yes" Source="..\src\phast\win32_2005\x64\ser\phast.exe" Name="phast-ser.exe" />
                </Component>
                <Component Id="phast.bat" Guid="*">
                    <File Id="phast.bat" KeyPath="yes" Source="..\bin\phast2.bat" Name="phast.bat" />
                </Component>
                <Component Id="phasthdf.exe" Guid="*">
                    <File Id="phasthdf.exe" KeyPath="yes" Source="..\src\phasthdf\win32\x64\Release\phasthdf.exe" />
                </Component>
                <Component Id="phastinput.exe" Guid="*">
                    <File Id="phastinput.exe" KeyPath="yes" Source="..\src\phastinput\vc80\x64\Release\phastinput.exe" />
                </Component>
                <Component Id="szlibdll.dll" Guid="*">
                    <File Id="szlibdll.dll" KeyPath="yes" Source="$(env.DEV_SZIP21_X64)\dll\szlibdll.dll" />
                </Component>
                <Component Id="zlib1.dll" Guid="*">
                    <File Id="zlib1.dll" KeyPath="yes" Source="$(env.DEV_ZLIB123_X64_LIB)\zlib1.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
</Wix>