<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="Lib">
            <ComponentRef Id="jhdf.jar" />
            <ComponentRef Id="jhdf5.jar" />
            <ComponentRef Id="jhdf5obj.jar" />
            <ComponentRef Id="jhdfobj.jar" />
            <ComponentRef Id="phast.jar" />
            <ComponentRef Id="jh5srb.dll" />
            <ComponentRef Id="jhdf.dll" />
            <ComponentRef Id="jhdf5.dll" />
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Directory Id="lib" Name="lib">
                <Component Id="jhdf.jar" Guid="*">
                    <File Id="jhdf.jar" KeyPath="yes" Source="..\src\phasthdf\dist\jhdf.jar" />
                </Component>
                <Component Id="jhdf5.jar" Guid="*">
                    <File Id="jhdf5.jar" KeyPath="yes" Source="..\src\phasthdf\dist\jhdf5.jar" />
                </Component>
                <Component Id="jhdf5obj.jar" Guid="*">
                    <File Id="jhdf5obj.jar" KeyPath="yes" Source="..\src\phasthdf\dist\jhdf5obj.jar" />
                </Component>
                <Component Id="jhdfobj.jar" Guid="*">
                    <File Id="jhdfobj.jar" KeyPath="yes" Source="..\src\phasthdf\dist\jhdfobj.jar" />
                </Component>
                <Component Id="phast.jar" Guid="*">
                    <File Id="phast.jar" KeyPath="yes" Source="..\src\phasthdf\dist\phast.jar" />
                </Component>
                <Directory Id="Win32" Name="Win32">
                    <Component Id="jh5srb.dll" Guid="*">
                        <File Id="jh5srb.dll" KeyPath="yes" Source="..\src\phasthdf\dist\Win32\jh5srb.dll" />
                    </Component>
                    <Component Id="jhdf.dll" Guid="*">
                        <File Id="jhdf.dll" KeyPath="yes" Source="..\src\phasthdf\dist\Win32\jhdf.dll" />
                    </Component>
                    <Component Id="jhdf5.dll" Guid="*">
                        <File Id="jhdf5.dll" KeyPath="yes" Source="..\src\phasthdf\dist\Win32\jhdf5.dll" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
</Wix>