<?xml version="1.0" encoding="UTF-8"?>

<!-- Note Major Minor and Build are set on the command line -->
<!-- ie MSBuild.exe msi.sln /p:Major=2 /p:Minor=0 /p:Build=4498 -->

<!-- format must be major.minor.build -->
<!-- major and minor have a maximum value of 255 -->
<!-- build has a maximum value of 65535 -->

<?define Version=$(var.Major).$(var.Minor).$(var.Build)?>
<?define FolderName="phast-$(var.Major).$(var.Minor).$(var.Build)"?>
<?define Manufacturer="U.S. Geological Survey"?>


<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="6c0cfcdc-04fa-44f0-89f5-59ee211337c7"
           Name="phast $(var.Version)"
           Language="1033"
           Version="$(var.Version)"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="81ed6506-9db2-46a1-b0c7-e24de11013f0">
		<Package InstallerVersion="200" Compressed="yes" Platform="x64"/>

		<Media Id="1" Cabinet="media.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- program files -->
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="APPLICATIONFOLDER" />
      </Directory>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="USGS" Name="USGS">
          <Directory Id="PHASTX86" Name="$(var.FolderName)">
            <Directory Id="APPLICATIONFOLDERX86" />
          </Directory>
        </Directory>
      </Directory>
      <!-- start menu -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Phast $(var.Major).$(var.Minor).$(var.Build)">
          <Directory Id="MV.ApplicationProgramsFolder" Name="Model Viewer 1.3"/>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProgramFiles" Title="Program Files" Description="This component contains the program executables, files required during execution, and minimal informal documentation." AllowAdvertise="no" Level="1" Display="expand">
      <ComponentGroupRef Id="Readme" />
      <ComponentGroupRef Id="Bin" />
      <ComponentGroupRef Id="Environ" />      
      <ComponentGroupRef Id="Lib" />
      <ComponentRef Id="ProgramShortcuts"/>
      <Feature Id="Documentation" Title="Documentation" Description="This component contains brief, summary documentation as well as the full, formal program documentation." AllowAdvertise="no" Level="1">
        <ComponentGroupRef Id="Doc" />
        <ComponentRef Id="DocShortcuts"/>
      </Feature>
      <Feature Id="Source" Title="Source Code" Description="This component contains the programs source code." AllowAdvertise="no" Level="1">
        <ComponentGroupRef Id="Src" />
      </Feature>
      <Feature Id="Examples" Title="Examples" Description="This component contains sample input files." AllowAdvertise="no" Level="1">
        <ComponentGroupRef Id="Examples" />
      </Feature>
      <Feature Id="MV" Title="Model Viewer" Description="Model Viewer is a computer program that displays the results of three-dimensional ground-water models.  The included version contains support to view Hierarchical Data Format (HDF5) files created by PHAST." AllowAdvertise="no" Level="1">
        <ComponentGroupRef Id="MV" />
        <ComponentRef Id="MVShortcuts" />
      </Feature>
    </Feature>

    <!-- gui -->
    <UIRef Id="WixUI_Advanced"/>
    <Property Id="ApplicationFolderName" Value="$(var.FolderName)" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
    <Property Id="ALLUSERS" Value="1" />

    <!-- override default install location -->
    <CustomAction Id="WixSetDefaultPerMachineFolderOverride" Property="WixPerMachineFolder" Value="[ProgramFiles64Folder]USGS\[ApplicationFolderName]" Execute="immediate" />
    <InstallExecuteSequence>
      <Custom Action="WixSetDefaultPerMachineFolderOverride" After="WixSetDefaultPerMachineFolder" />
    </InstallExecuteSequence>
    <InstallUISequence>
      <Custom Action="WixSetDefaultPerMachineFolderOverride" After="WixSetDefaultPerMachineFolder" />
    </InstallUISequence>

    <!--
    Disallow per-user installs
    -->
    <WixVariable Id="WixUISupportPerUser" Value="0" Overridable="no" />

    <!--
    This overrides the default License agreement
    -->
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

  </Product>
</Wix>
